## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
# 設定 data_path
dir_data = './data/'

In [5]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [19]:
df=pd.DataFrame(app_train)
c=df.shape
row=c[0]
column=c[1]
print("row:",row)
print("column:",column)

row: 307511
column: 122

#### 列出所有欄位

In [16]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [11]:
fikter= df["AMT_INCOME_TOTAL"]<50000
df[fikter]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
183,100213,0,Cash loans,F,N,N,2,49500.000,278460.0,19930.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
283,100326,1,Cash loans,M,Y,Y,0,36000.000,284400.0,10849.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
322,100370,0,Cash loans,F,N,Y,0,45000.000,448056.0,16222.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,4.0
382,100440,0,Cash loans,F,N,Y,0,40500.000,127350.0,7438.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
486,100560,0,Cash loans,F,N,N,0,49500.000,225000.0,11488.5,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,1.0
495,100572,0,Cash loans,F,N,Y,0,31500.000,314055.0,13437.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
581,100667,0,Cash loans,M,N,Y,0,45000.000,168102.0,16753.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
651,100743,0,Cash loans,F,N,Y,0,38250.000,47970.0,5166.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
686,100794,0,Cash loans,F,N,Y,0,49500.000,431280.0,18400.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
724,100837,0,Revolving loans,F,N,Y,2,45000.000,135000.0,6750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
744,100857,0,Cash loans,F,N,Y,0,49500.000,153504.0,15084.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
790,100904,0,Cash loans,F,N,Y,1,45000.000,348264.0,19575.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
802,100919,0,Cash loans,F,N,N,0,48600.000,229500.0,16101.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,8.0
990,101146,0,Cash loans,M,N,Y,0,38700.000,143910.0,15241.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1076,101250,0,Cash loans,F,N,Y,0,49500.000,148365.0,11781.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
1094,101273,0,Cash loans,M,Y,Y,0,45000.000,269550.0,11871.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
1126,101316,0,Cash loans,F,N,Y,0,45000.000,254700.0,14751.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1158,101360,1,Cash loans,M,N,Y,0,46948.500,269550.0,11871.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
1221,101442,0,Cash loans,F,N,N,0,36000.000,900000.0,26311.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1678,101965,0,Cash loans,F,N,N,0,25650.000,158148.0,5809.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1936,102269,0,Cash loans,F,N,N,0,49500.000,225000.0,15034.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
1961,102300,0,Cash loans,F,N,N,2,49500.000,59256.0,4810.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
1984,102326,0,Cash loans,F,N,Y,1,45000.000,135000.0,7321.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1995,102337,1,Cash loans,F,N,Y,0,49500.000,130824.0,5062.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,5.0
2151,102527,0,Cash loans,F,N,Y,0,48181.500,180000.0,16654.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2260,102648,0,Cash loans,F,N,N,0,45000.000,152820.0,16587.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2280,102670,0,Cash loans,F,N,Y,0,45000.000,549882.0,17869.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2361,102762,0,Cash loans,M,N,Y,0,35550.000,672174.0,21811.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2375,102779,0,Cash loans,F,N,Y,0,29250.000,152820.0,10080.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304392,452661,0,Cash loans,F,N,Y,0,45000.000,168147.0,11002.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
304407,452680,1,Cash loans,F,Y,Y,0,45000.000,684000.0,29110.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
304459,452742,0,Cash loans,F,N,N,0,40500.000,191880.0,19107.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
304495,452784,0,Cash loans,F,N,Y,0,45000.000,243000.0,7888.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
304521,452813,0,Cash loans,F,N,N,2,45000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
304680,452996,0,Cash loans,F,N,Y,0,45000.000,450000.0,30204.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
304814,453155,0,Cash loans,F,Y,Y,0,47250.000,1035832.5,33543.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
305111,453498,0,Cash loans,F,Y,Y,1,45000.000,117162.0,11542.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
305207,453611,0,Cash loans,M,Y,Y,0,35550.000,90000.0,3523.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
305224,453630,0,Cash loans,F,N,N,0,31500.000,219249.0,9288.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
305256,453664,0,Revolving loans,F,N,N,0,46350.000,157500.0,7875.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
305454,453896,0,Cash loans,F,N,N,0,49500.000,675000.0,24246.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
305567,454028,0,Cash loans,F,N,Y,0,45000.000,539100.0,25933.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
305573,454034,0,Cash loans,F,N,Y,0,31500.000,675000.0,21775.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
305767,454264,0,Cash loans,F,Y,N,0,45000.000,490495.5,26131.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
305780,454279,0,Cash loans,F,N,Y,0,30150.000,225000.0,9531.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
305793,454294,0,Cash loans,F,N,Y,0,45000.000,133528.5,8824.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
305802,454305,0,Cash loans,F,N,Y,0,45000.000,679500.0,37939.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
306251,454827,0,Cash loans,M,Y,Y,0,45000.000,364896.0,15588.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
306305,454887,0,Cash loans,F,N,Y,0,45000.000,405000.0,19611.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
306501,455109,0,Cash loans,F,N,N,0,49500.000,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306507,455116,0,Cash loans,F,N,Y,0,45000.000,119925.0,11988.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
306631,455264,1,Cash loans,F,N,Y,1,45000.000,755190.0,34992.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
306692,455334,0,Cash loans,F,N,Y,0,49500.000,316296.0,14872.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
306714,455356,0,Cash loans,F,N,N,0,36000.000,450000.0,19953.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306896,455565,0,Cash loans,F,N,N,0,36000.000,161730.0,8257.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307131,455827,0,Cash loans,F,Y,N,2,45000.000,675000.0,28597.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307207,455915,0,Cash loans,F,N,Y,0,36000.000,225000.0,20952.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307363,456088,1,Cash loans,F,Y,Y,0,29250.000,663093.0,21519.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307405,456138,0,Cash loans,M,N,Y,0,49500.000,432661.5,26419.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子